## Taboo and cliving subject in New yorker contest
This notebook investigates how taboo or sensitive topics (e.g., death, sex, religion, politics, body, or violence) are used in humorous captions submitted to The New Yorker Caption Contest.
The goal is to determine whether the presence of taboo themes correlates with higher humor rating or hith higher std. as the subject are polarisant.
- make a regression analysis (cours 4)
- make causal analyses(cours 5)

#### Data imporatation

In [1]:
import pandas as pd
import numpy as n
import pickle
import re
from pathlib import Path
import sys


root = Path(__file__).resolve().parent if "__file__" in globals() else Path.cwd()
while root.parent != root:
    if ((root / ".git").exists() and 
        (root / "README.txt").exists() and 
        (root / "results.ipynb").exists()): break
    root = root.parent
if str(root) not in sys.path: sys.path.insert(0, str(root))

print("Root folder at: ", root)

Root folder at:  /Users/todorovkatia/Documents/EPFL/MA3/ADA/Projet/ada-2025-project-adacore42

In [2]:
from src.utils.paths import *

stored_dataprep_pkl_path = root / STORED_DATAPREP_PKL_PATH
with open(stored_dataprep_pkl_path, "rb") as f:
    data = pickle.load(f)

In [8]:
dataA = data['dataA']
# dataC est un DataFrame de métadonnées de tous les cartoon contests.
dataC = data['dataC']
dataA_startID = data['dataA_startID']
dataA_endID = data['dataA_endID']
dataC_lastGoodID = data['dataC_lastGoodID']

display(dataA[0])
display(dataA_startID)

,caption,mean,precision,votes,not_funny,somewhat_funny,funny
rank,,,,,,,
0,I'm a congressman--obstruction is my job.,1.913043,0.094022,69,24,27,18
1,"I'm what they mean when they say, 'The middle ...",1.842105,0.191381,19,8,6,5
2,Does this suit make me look flat?,1.711111,0.112915,45,21,16,8
3,"When the right woman comes along, I'll know it.",1.625000,0.116657,32,15,14,3
4,"I used to lie in the gutter, but then I quit d...",1.617647,0.133610,34,19,9,6
...,...,...,...,...,...,...,...
3900,"Just getting material for my book, "" Humanity ...",1.000000,0.117851,9,9,0,0
3901,This has 'Alice in Wonderland' beat by a mile.,1.000000,0.117851,9,9,0,0
3902,I could use a quick pick-me-up.,1.000000,0.117851,9,9,0,0
3903,This is the secret to attracting foot traffic.,1.000000,0.117851,9,9,0,0
3904,An aloof view of clouds colliding.,1.000000,0.117851,9,9,0,0

510

#### Feature extraction

#### Data visualization

#### Data description